// Start Footer
footer#footer
  .container
    .footer-content
      .row-1
        h2 Imagine a place
        ul.social-links
          li
            a(href='#')
              i.fab.fa-twitter
          li
            a(href='#')
              i.fab.fa-instagram
          li
            a(href='#')
              i.fab.fa-facebook-square
          li
            a(href='#')
              i.fab.fa-youtube
      .row-2
        ul.links
          li
            a(href='/search') Discover All Classifieds
          li
            a(href='#') About UniHub
          li
            a(href='#') FAQ
          li
            a(href='#') Contact Us
    .footer-bottom
      .logo
        a(href='/')
          i.fa-solid.fa-graduation-cap.logo-icon
          | Uni
          span Hub
      .footer-btn
        a.btn.footer-sign-btn(href='/signup') Sign up
    .signature
      | Developed By
      a(href='https://github.com/MinaRomany53' target='_blank') Mina Romany
// End footer