// Start Header
header
  .container
    .row--1
      .logo
        a(href='/')
          i.fa-solid.fa-graduation-cap.logo-icon
          | Uni
          span Hub
      .search__box
        input.search__input(type='text' placeholder='Find Books, Tools and More...')
        button.search__btn
          i.fa-solid.fa-search.search-icon
      button#mobile_btn.mobile_btn(data-state='open')
        i.fa-solid.fa-bars.icon
  
      // Start Nav before login
      ul.nav.hidden
        li.link-item
          a.link.login-link(href='/login') Login
        li.link-item
          a.btn.sign-btn.link(href='/signup') Sign up
      // End Nav before login
    .row--2
      ul.categories
        li.cat
          a.cat-link(href='/search') All Classifieds
        li.cat
          a.cat-link(href='/search?category=Books') Books
        li.cat
          a.cat-link(href='/search?category=Services') Services
        li.cat
          a.cat-link(href='/search?category=Accessories') Accessories
        li.cat
          a.cat-link(href='/search?category=Electronics') Electronics &amp; Appliances
        li.cat
          a.cat-link(href='/search?category=Other') Other Categories
// End Header