extends base

block content
    section.items
        .container
            .error__block
                i.fa-solid.fa-triangle-exclamation.error__icon  
                .error__message 
                    h2.error__heading Oops... This Page is not available 
                    p.error__desc= message