extends base

block content
    main.form--main
        .container
            // alert modal
            #alert_modal.modal.hidden
                .modal-content
                    span.close(onclick='hideAlert()') &times;
                    p#message 
            .form-box
                .logo
                    a(href='index.html')
                        i.fa-solid.fa-graduation-cap.logo-icon
                        | Uni
                        span Hub
                form.form(action='' method='POST')
                    .field
                        label(for='email') Email Address
                        input#email(type='email' name='email' placeholder='e.g. user@domain.com')
                    .forget_password
                        a(href='/login') Log In
                    input.btn.submit_btn(type='submit' value='Send Instructions')
                    .form-footer
                        p Don&rsquo;t have an Account?
                        a(href='/signup') Sign Up


    // Script File
    script(type='text/javascript' , src='/js/forgetPassword.js')

