extends base

block content
    main.form--main
        .container
            // alert modal
            #alert_modal.modal.hidden
                .modal-content
                    span.close(onclick='hideAlert()') &times;
                    p#message Login successful!

            .form-box
                .image
                    img(src='/imgs/log-in.svg' alt='login-svg')
                form.form(action='' method='POST')
                    .field
                        label(for='username') Email
                        input#email(type='email' name='email' placeholder='your email...')
                    .field
                        label(for='password') Password
                        input#password(type='password' placeholder='••••••••' name='password')
                    .forget_password
                        a(href='/forgetPassword') Forget Password?
                        input.btn.submit_btn(type='submit' value='Log In')
                .form-footer
                    p Don&rsquo;t have an Account?
                    a(href='/signup') Sign Up
  
    // Script File
    script(type='text/javascript' , src='/js/login.js')

