extends base

block content
    div.container
        div.row
            div.col-md-12
                h1.text-center My Profil
                hr
                div.col-md-12
    // Script File
    //- script(type='text/javascript' , src='/js/filtration.js')