extends base

block content
    main.form--main
        .container
            // alert modal
            #alert_modal.modal.hidden
                .modal-content
                    span.close(onclick='hideAlert()') &times;
                    p#message 
            .form-box
                .logo
                    a(href='index.html')
                        i.fa-solid.fa-graduation-cap.logo-icon
                        | Uni
                        span Hub
                form.form(action='' method='POST' data-token=token)
                    .field
                        label(for='password') New Password
                        input#password(type='password' placeholder='••••••••' name='password' required='')
                        <small class="small-text">*At least 8 characters</small>
                    .field
                        label(for='confirmpassword') Confirm New Password
                        input#confirmpassword(type='password' placeholder='••••••••' name='confirmpassword' required='')
                    input.btn.submit_btn(type='submit' value='Submit')


    // Script File
    script(type='text/javascript' , src='/js/resetPassword.js')