.form--main {
  position: relative;
  min-height: 89vh;
  padding: 3rem;
}
/* Start alert Modal styles */
.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40rem;
  transition: all 0.3s ease-in-out;
}
.modal.hidden {
  visibility: hidden;
}
.modal.show {
  visibility: visible;
}

@media (max-width: 992px) {
  .modal {
    width: 40%;
  }
}
@media (max-width: 786px) {
  .modal {
    width: 100%;
  }
}
.modal-content {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #915edf;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.close {
  color: #aaa;
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.success .modal-content {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
.fail .modal-content {
  color: red;
  border: 1px solid red;
}
/* End alert Modal styles */

.form-box {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  max-width: 50rem;
  border-radius: 0.5rem;
}
.form-box .image {
  display: flex;
  justify-content: center;
}
.form-box img {
  width: 15rem;
}
.form-box .form {
  /* background-color: red; */
  padding: 1rem 0;
}
.form-box .form .field {
  padding: 1rem 0;
}
.form-box .form .field label {
  font-size: 1.4em;
}
.form-box .form .field input {
  display: inline-block;
  width: 100%;
  height: 4.5rem;
  border: none;
  padding-left: 2rem;
  border-radius: 0.5rem;
  margin: 0.8rem 0;
  background-color: #f6f6f6;
  font-size: 1.4rem;
  caret-color: #915edf;
}
.form-box .form .field input:active,
.form-box .form .field input:focus {
  outline: none;
  border: none;
}
.form-box .form .field input::placeholder {
  font-size: 1.2rem;
  color: #999;
}
.form-box .form .forget_password {
  position: relative;
}
.form-box .form .forget_password a {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: -10px;
  color: var(--color-primary);
}

.form-box .form .submit_btn {
  margin-top: 1.5rem !important;
  padding-left: 0 !important;
  background-color: var(--color-btns) !important;
  color: #fff;
  text-transform: uppercase;
}

.form-box .form-footer {
  font-size: 1.4rem;
}
.form-box .form-footer p {
  margin-bottom: 0.5rem;
}
.form-box .form-footer a {
  color: var(--color-primary);
}
