.items {
  padding: 4rem 0 8rem 0;
}
.items .container {
  display: flex;
  flex-direction: column;
}

.filter__block {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  min-height: 20rem;
  margin-bottom: 3rem;
  display: flex;
  /* gap: 1rem; */
  padding: 2rem;
  flex-wrap: wrap;
}

.filter__col {
  padding: 1.5rem;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .filter__col {
    flex-basis: calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }
}

@media (min-width: 992px) {
  .filter__col {
    flex-basis: calc(20% - 0.75rem);
    max-width: calc(20% - 0.75rem);
  }
}

.filter__block .filter__col h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.filter__block .filter__col .filter__labels {
  display: flex;
  flex-direction: column;
}
.filter__block .filter__col .filter__labels label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.filter__labels select {
  appearance: none;
  border: 2px solid #ffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.filter__labels select {
  cursor: pointer;
}

.filter__labels select:focus {
  outline: none;
  border-color: var(--color-btns);
}

.filter__labels option {
  font-size: 1.2rem;
  line-height: 1.5;
}
.page__heading {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.6rem;
}
.page__heading span {
  color: var(--color-btns);
  font-size: 3rem;
}

/* Start Pagination Btns*/
.pagination {
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}
.pagination a {
  color: var(--color-primary);
  float: left;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: #fff;
  border-radius: 0.5rem;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 0.5rem;
}
/* End Pagination Btns */

/* Start Error Message */
.error__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  margin-bottom: 10rem;
}
.error__block .error__message {
  padding: 4rem;
  text-align: center;
}
.error__block .error__message span {
  color: var(--color-btns);
  font-size: 3rem;
}

.error__block .error__heading {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.error__block .error__desc {
  padding: 1rem 0;
  font-size: 1.8rem;
}

.error__block .error__icon {
  font-size: 10rem;
  color: var(--color-btns);
}
/* End Error Message */
