.profile .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0;
}
.profile .container .Profile-card {
  width: 30%;
}
.profile .container .profile-items {
  width: 69.5%;
}
@media (max-width: 1200px) {
  .profile .container {
    flex-direction: column;
  }
  .profile .container .Profile-card {
    order: -1;
    margin-bottom: 2rem;
    width: 100%;
  }
  .profile .container .profile-items {
    width: 100%;
  }
}

/* Start Profile Card */
.Profile-card .row--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile-card .row--1 .seller__info__img {
  max-width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid var(--color-btns);
  overflow: hidden;
  margin-bottom: 2rem;
  margin-right: 0;
}
.Profile-card .row--1 .seller__info__info {
  text-align: center;
}
.Profile-card .row--1 .seller__info__info .name {
  margin-bottom: 1.5rem;
  font-weight: 800;
}
.Profile-card .row--1 .seller__info__info .joinat {
  font-size: 1.2rem;
}

/* End Profile Card */

/* Start Profile Items */
.profile-items {
  padding: 4rem 0;
}
.profile-items .no_of_items {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
.profile-items .no_of_items span {
  color: var(--color-btns);
}
.profile-items .pagination {
  margin-top: 8rem;
}
/* End Profile Items */
